.navbar {
    justify-content: center;
    width: 100%;
    position: fixed; /* Set the navbar to fixed position */
    text-align: center;
    padding: 0 0;
    margin: 0 0;
    background-color:  rgb(4, 182, 182);
  }

  h4{
    margin: 0px;
  }

  /* #title {
    margin-right: 
  } */


  